﻿@page "/"

@using Housefinder.Data
@inject PropertyService PropertySvc

@if (properties == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 img-stack">
                <div class="row">
                    <div class="col-12">
                        <!--<PropertyDetail propertyobject="" />-->
                        <a data-toggle="modal" data-target="#detailModal">
                            <figure class="stack stack-randomrot">
                                @foreach (var prop in properties)
                                {
                                    <img src="/images/@prop.ImageURLs" />
                                }
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row justify-content-between">
            <div class="col-6 text-right">
                <button class="btn btn-danger down" @onclick="propertyDislike"><span class="oi oi-thumb-down" aria-hidden="true"></span></button>
            </div>
            <div class="col-6">
                <button class="btn btn-success up" @onclick="propertyLike"><span class="oi oi-thumb-up" aria-hidden="true"></span></button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-12 col-lg-6">
                <MainProperty Prop="properties[0]"/>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
}

@code{
    private IList<Property> properties;

    protected override async Task OnInitializedAsync()
    {
        Property[] props = await PropertySvc.GetPropertiesAsync();
        properties = props.ToList();
    }

    private void propertyLike()
    {
        if(properties.Count() > 1)
        {
            properties.RemoveAt(0);
        }
    }

    private void propertyDislike()
    {
        if (properties.Count() > 1)
        {
            properties.RemoveAt(0);
        }

    }
}