﻿<h3>@Prop.Title</h3>

@using Housefinder.Data

<div class="propertydetails">
    <div class="row">
        <div class="col-12">
            <h5>@Prop.Price</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @Prop.StreetAddress @Prop.Suburb
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <i class="fa fa-bed"></i> @Prop.Bedrooms
        </div>
        <div class="col-2">
            <i class="fa fa-bath"></i> @Prop.Bathrooms
        </div>
        <div class="col-2">
            <i class="fa fa-car"></i> @Prop.Cars
        </div>
        <div class="col-2">
            @Prop.PropertyType
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Property Prop { get; set; }
}
