﻿<h3>PropertyDetail</h3>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{streetaddress}}</h4>
            </div>
            <div class="modal-body">
                <!-- Carousel -->
                <div id="carouselDetail" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {{#each imageURLs }}
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/images/{{this}}" alt="Picture">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/{{this}}" alt="Picture">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/{{this}}" alt="Picture">
                        </div>
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" href="#carouselDetail" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselDetail" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- End Carousel -->
                <div class="row">
                    <div class="col-12">
                        <p class="modalcontent">{{body}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info btn-simple">Save</button>
            </div>
        </div>
    </div>
</div>

@code {

}
